body {
	background-color: rgb(235, 235, 235);
	color: white;
	font-size:16px;
}

.top
{
	height: 5vh;
}

header
{ 
	width:60vw;
	font-size:1.3em;
	margin:auto;
	line-height: 5vh;
	color: black;
	font-weight: bold;
}



